
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,500&display=swap');


header{
    background-color: rgb( 38 , 38 , 38 );
    padding: 10px;
text-align: center;
}


nav{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal; 
  color: azure;
  font-size: 10px;
  text-align: center;
  letter-spacing: 1px;
}


a{
  margin: 120px;
  color: beige;
  text-decoration: none;
  font-size: 25px;
}

body{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hubble_Peers_into_the_Storm_%2829563971405%29.jpg/2560px-Hubble_Peers_into_the_Storm_%2829563971405%29.jpg);
}

